* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.row {
    position: relative;
    padding: 20px 0;
    height: 100%;
}

.container {
    width: 95%;
    max-width: 1240px;
    margin: auto;
    height: 100%;
}

.grid-row.grid-4-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    height: 100%;
}

.cards {
    height: auto;
    width: auto;
    overflow: hidden;
    box-shadow: 5px 8px 15px -10px rgba(0, 0, 0, 0.432);
}

.card_image {
    width: 100%;
    height: 100%;
}

.card_image.loading {
    width: 100%;
    height: 180px;
}

.card_title {
    padding: 8px;
    font-size: 22px;
    font-weight: 700;
}

.card_title.loading {
    width: 50%;
    height: 1rem;
    margin: 1rem;
    border-radius: 3px;
    position: relative;
}

.card_description {
    padding: 8px;
    font-size: 16px;
}

.card_description.loading {
    height: 3rem;
    margin: 1rem;
    border-radius: 3px;
}

.loading {
    position: relative;
    background: #ccc;
}

.loading:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100px);
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
    animation: loading 0.8s infinite;
}


@keyframes loading {
    100% {
        transform: translateX(100%);
    }
}
